@include font-face("Pokemon", "./fonts/PokemonSolid.ttf");

body {
    text-align: center;
    background-color: #e6ecf4;
    
}

h1 {
    font-family: 'Pokemon';
    font-size: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.error {
    text-align: left;
    color: darkred;
    font-style: oblique;
    font-size: 0.75rem;
    margin-bottom: 20px;
    margin-left: 10px;
}

.home__search {
    width: 150px;
    padding: 5px;
    color: #003A70;
    font-size: 1rem;
    border: none;

    &::placeholder {
        color: #7d91aa;
    }
}