.container__details {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    &--information {
        width: 400px;
        text-align: left;
        margin: 40px;
    }

    &--image {
        padding-top: 25px;
        width: 200px;
        margin: 40px;
    }
}

.details {
    &__button {
        background-color: #003A70;
        color: #afc8e6;
        width: 100px;
        text-align: center;
        padding: 10px;
        margin-top: 20px;

        &:hover {
            color: #FFCB05;
            cursor: pointer;
        }
    }

    &__information {
        width: 400px;

        &--subject {
            font-size: 1.25rem;
            font-weight: 700;
        }

        &--detail {
            font-size: 1rem;
        }
    }
}